// scroll-up
.scroll-up {
    display: flex;
    position: fixed;
    bottom: 1.6rem;
    right: 1.6rem;
    aspect-ratio: 1;
    padding: 1rem;
    background: #3d3d3d;
    opacity: 0;
    transition: opacity 500ms;
    border-radius: 8px;
    pointer-events: none;

    &:hover {
        opacity: .8;
    }

    img {
        width: 40px;
    }

    &--visible {
        opacity: .4;
        pointer-events: all;
    }
}