// page-up
.page-up {
    display: flex;
    aspect-ratio: 1;
    position: fixed;
    bottom: 1.6rem;
    right: 1.6rem;
    background: #3d3d3d;
    opacity: .4;
    transition: opacity 500ms;
    border-radius: 8px;
    padding: 1rem;

    &:hover {
        opacity: .8;
    }

    img {
        width: 40px;
    }
}