@use "./vars" as *;

.dropdown {
    position: relative;

    @media(hover: hover) {
        &__link:hover,
        &__link:focus-visible {
            +.dropdown__list {
                pointer-events: auto;
                opacity: 1;
            }
        }
    }

    &__list {
        pointer-events: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 8em;
        background: rgb(131 223 240);
        opacity: 0;
        transition: opacity 500ms;
        font-size: 1rem;

        @media(hover: hover) {
            &:hover,
            &:has(a:focus-visible) {
                pointer-events: auto;
                opacity: 1;
            }
        }

        &>li {
            padding: .2em;
            cursor: pointer;

            @include hover-style;
        }
    }
}